.launcher {
  padding-left: 5pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  font-size: 15pt;
}

.workspaces {
  padding-left: 15px;
  padding-bottom: 3px;
  padding-top: 3px;

  label {
    font-size: 0;
    min-width: 7pt;
    min-height: 7pt;
    border-radius: 6pt;
    box-shadow: inset 0 0 0 20pt $surface0;
    margin: 0 2.5pt;
    transition: min-width 0.5s ease-out;

    &.occupied {
      box-shadow: inset 0 0 0 20pt $text;
    }

    &.active {
      background-color: $pink;
      box-shadow: inset 0 0 0 20pt $pink;
      min-width: 21pt;
      min-height: 10pt;
    }
  }
}

.client-title {
  padding: 0 10pt 0 10pt;
  font-size: 10pt;
}

.date {
  label {
    padding-left: 125pt;
    padding-right: 10pt;
    font-size: 13pt;
    font-weight: bold;
  }
}