@use "../color";

window.notification-popups box.breadcrumbs box.notifications {
  padding: 0.5em;
}

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}

.icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: color.$text;
}

.icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px;
}

.notification {
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: color.$base;
}

.notification.critical {
  border: 1px solid lightcoral;
}

.title {
  color: color.$text;
  font-size: 1.4em;
}

.body {
  color: color.$text;
}

.actions .action-button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}

.notification-title {
  font-size: 1.4em;
}

.notification-clear {
  font-size: 1.6em;
}

.empty-notifications-icon {
  font-size: 3em;
}

.empty-notifications {
  font-size: 1em;
}

.preview {
  min-width: 100px;
  min-height: 100px;
  margin-right: 1em;
}

.preview image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: color.$text;
}

.preview box {
  min-width: 400px;
  min-height: 200px;
  border-radius: 7px;
  background-color: color.$surface1;
}

// Breadcrumbs
.breadcrumb {
  min-width: 100px;
  border-radius: 12px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: color.$base;
}

.breadcrumb-title {
  font-size: 11pt;
}

.breadcrumb-body {
  font-size: 9pt;
}

.breadcrumb-icon {
  min-width: 60px;
  min-height: 60px;
}

.breadcrumb-icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: color.$text;
}

.breadcrumb-icon box {
  min-width: 60px;
  min-height: 60px;
  border-radius: 12px;
  background-color: color.$surface1;
}
