@use "../color";

window.clockbar {
  background-color: transparent;
}

.clockbar {
  background-color: color.$base;
  min-width: 1000px;
  min-height: 700px;
  border-radius: 11px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dnd {
  font-size: 0.9em;
}

.small-notification {
  min-width: 350px;
  border-radius: 8px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: color.$mantle;
}

.small-notification.critical {
  border: 1px solid lightcoral;
}

.small-title {
  color: color.$text;
  font-size: 1.4em;
}

.small-body {
  color: color.$text;
}

.small-actions .action-button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}

.small-actions .action-button:first-child {
  margin-left: 0;
}

.small-actions .action-button:last-child {
  margin-right: 0;
}

.small-time {
  font-style: italic;
  color: color.$text;
  font-size: 0.8em;
}

calendar {
  background-color: transparent;
  color: white;
  border: 1px solid #1c1f1f;
  padding: 2px;
}

calendar:selected {
  border-radius: 6px;
}

calendar.header {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

calendar.grid {
  padding: 50px;
}

calendar.header:backdrop {
  border-color: rgba(0, 0, 0, 0.1);
}

calendar.button {
  color: rgba(238, 238, 236, 0.45);
}

calendar.button:hover {
  color: #eeeeec;
}

calendar.button:backdrop {
  color: rgba(148, 151, 150, 0.45);
}

calendar.button:disabled {
  color: rgba(148, 151, 150, 0.45);
}

calendar:indeterminate,
calendar:indeterminate:backdrop {
  color: rgba(white, 0.25);
}

calendar.highlight,
calendar.highlight:backdrop {
  font-size: smaller;
  color: #44627e;
}

calendar:backdrop {
  color: #d5d5d5;
  border-color: #1f2222;
}

// Clock-Media
.clock-media {
  min-width: 100px;
  background-color: color.$base;
}

.clock-media-cover {
  min-width: 50px;
  min-height: 50px;
}

.clock-media-cover box {
  min-width: 50px;
  min-height: 50px;
  border-radius: 5px;
  background-color: color.$surface1;
}

.clock-media-title {
  font-size: 1em;
}

.clock-media-artist {
  font-size: 1em;
  color: color.$subtext1;
}

.clock-media-progress {
  min-height: 2px;
}